/*
@package sebatheme
*/

.seba-admin-container {
    display: flex;
}
.seba-sidebar-preview{
    margin-right: 50px;
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
} 
.seba-sidebar h1,
.seba-sidebar h2{
    color:white;
    font-weight: 100;
}