@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*
@package placeholders
*/
/* general */
.header-container .site-title, .seba-format-image h1,
.seba-format-image .entry-meta, .seba-format-gallery .carousel-control {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

.seba-format-gallery .entry-excerpt.image-caption {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.9) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=0);
  /* IE6-9 */ }

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

img.aligncenter {
  width: 100%;
  height: auto; }

.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

/*
@package sebatheme
*/
/* general */
* {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif; }

a {
  color: #000; }
  a:hover, a:focus {
    text-decoration: none;
    color: #333333; }

[class^=col] {
  padding: 0; }

.background-image {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat; }

/* Header  */
.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px; }
  .header-container .site-title {
    color: white;
    margin: 0; }
  .header-container .site-description {
    color: white;
    font-size: 14px;
    margin-top: 1em; }
  .header-container .fa {
    color: white;
    font-size: 51px; }

/* article */
article {
  padding-top: 40px;
  padding-bottom: 40px; }

/* load more - ajax */
.btn-seba-load {
  display: block;
  width: 250px;
  color: #222;
  font-size: 30px;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 320ms ease;
  -moz-transition: opacity 320ms ease;
  -ms-transition: opacity 320ms ease;
  -o-transition: opacity 320ms ease;
  transition: opacity 320ms ease; }
  .btn-seba-load span {
    display: block; }
  .btn-seba-load:hover, .btn-seba-load:focus, .btn-seba-load.loading {
    opacity: 1;
    cursor: pointer; }
  .btn-seba-load.loading {
    cursor: default; }

.spin {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.seba-posts-container article {
  -webkit-transition: all 320ms ease;
  -moz-transition: all 320ms ease;
  -ms-transition: all 320ms ease;
  -o-transition: all 320ms ease;
  transition: all 320ms ease;
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0; }
  .seba-posts-container article.reveal {
    -webkit-transition: all 320ms ease;
    -moz-transition: all 320ms ease;
    -ms-transition: all 320ms ease;
    -o-transition: all 320ms ease;
    transition: all 320ms ease;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; }

.container-load-previous {
  margin-top: 40px; }

.seba-sidebar {
  position: fixed;
  color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #1F1F1F;
  z-index: 9;
  height: 100vh;
  width: 100%;
  max-width: 280px;
  text-align: center;
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  /* from admin */ }
  .seba-sidebar.sidebar-closed {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  .seba-sidebar .seba-sidebar-container {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    padding-top: 40px; }
  .seba-sidebar .sidebar-close {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    cursor: pointer; }
    .seba-sidebar .sidebar-close:hover, .seba-sidebar .sidebar-close:focus {
      color: #f95800 !important; }
  .seba-sidebar .seba-widget h1,
  .seba-sidebar .seba-widget h2 {
    color: white;
    font-weight: 100;
    font-size: 25px; }
  .seba-sidebar .profile-picture {
    width: 122px;
    height: 122px;
    overflow: hidden;
    border-radius: 500px;
    margin: 20px auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  .seba-sidebar .icons-wrapper i {
    font-size: 25px;
    color: #fff;
    position: relative;
    padding: 10px; }

.sidebar-open {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff !important;
  cursor: pointer;
  font-size: 25px; }
  .sidebar-open:hover, .sidebar-open:focus {
    color: #f95800 !important; }

.navbar-seba {
  justify-content: center;
  font-size: 20px;
  color: blue;
  background-color: #000000e7;
  text-align: center; }
  .navbar-seba .navbar-nav li.current_page_item a {
    color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 5px solid #fff;
    padding: 5px 20px; }
  .navbar-seba .navbar-nav li a {
    color: #eeebf3;
    text-decoration: none; }

h1 {
  font-size: 48px;
  font-weight: 200;
  color: #1254e4; }
  h1.entry-title {
    line-height: 1.5em;
    margin: 10px 0 5px 0;
    padding: 0; }
    h1.entry-title:before, h1.entry-title:after {
      content: "~";
      display: inline-block;
      position: relative; }
    h1.entry-title:before {
      margin-right: 10px; }
    h1.entry-title:after {
      margin-left: 10px; }

.entry-meta {
  font-size: 16px;
  color: #898989;
  font-weight: 300; }
  .entry-meta a {
    font-weight: 500;
    color: #898989; }
    .entry-meta a:hover, .entry-meta a:focus {
      color: #333333; }

.standard-featured-link {
  display: block;
  position: relative; }
  .standard-featured-link:hover .standard-featured:after, .standard-featured-link:focus .standard-featured:after {
    background-color: rgba(0, 0, 0, 0); }

.standard-featured {
  min-height: 350px;
  position: relative; }
  .standard-featured:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
    -webkit-transition: background-color 400ms ease;
    -moz-transition: background-color 400ms ease;
    -ms-transition: background-color 400ms ease;
    -o-transition: background-color 400ms ease;
    transition: background-color 400ms ease; }

.entry-excerpt {
  padding: 20px 0; }
  .entry-excerpt p {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 1px; }

.button-container {
  padding: 20px 0; }

.btn-seba {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  padding: 8px 12px;
  border-radius: 0;
  border: 1px solid #898989;
  background-color: transparent; }
  .btn-seba:hover, .btn-seba:focus {
    color: #fff;
    border: 1px solid #333333;
    background-color: #333333; }

.entry-footer {
  padding: 10px 5px;
  border-bottom: 4px solid #F1FFF1;
  color: #898989;
  text-transform: uppercase; }
  .entry-footer a {
    color: #898989;
    display: inline-block;
    font-size: 14px; }
    .entry-footer a:hover, .entry-footer a:focus {
      color: #333333; }
  .entry-footer .tags-list a {
    padding: 0 4px; }
  .entry-footer i {
    margin: 0px 10px; }

/* Image post format */
.seba-format-image .entry-header {
  height: 350px;
  color: #fff;
  position: relative; }

.seba-format-image h1,
.seba-format-image .entry-meta {
  color: #fff;
  font-weight: 200; }
  .seba-format-image h1 a,
  .seba-format-image .entry-meta a {
    color: #fff; }

.seba-format-image .entry-excerpt.image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0; }

/* Audtio post format */
.seba-format-audio h1 {
  font-size: 30px; }
  .seba-format-audio h1.entry-title {
    display: inline-block;
    margin-right: 40px; }
    .seba-format-audio h1.entry-title:before, .seba-format-audio h1.entry-title:after {
      content: "~";
      display: none; }

.seba-format-audio .entry-meta {
  display: inline-block;
  margin-bottom: 0; }

.seba-format-audio iframe {
  width: 100%;
  height: 166px; }

/* Video post format */
/* gallery */
.seba-format-gallery header h1.entry-title {
  margin-top: 20px; }

.seba-format-gallery:hover .entry-excerpt.image-caption {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%); }

.seba-format-gallery .entry-excerpt.image-caption {
  position: absolute;
  color: #fff;
  padding: 30px;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  -webkit-transition: transform 320ms ease;
  -moz-transition: transform 320ms ease;
  -ms-transition: transform 320ms ease;
  -o-transition: transform 320ms ease;
  transition: transform 320ms ease;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%); }

.seba-format-gallery .standard-featured {
  height: 500px; }
  .seba-format-gallery .standard-featured:after {
    background-color: transparent; }

.seba-format-gallery .carousel-control {
  background: none;
  background-image: none;
  opacity: 1;
  filter: alpha(opacity=100);
  font-size: 30px;
  width: auto; }
  .seba-format-gallery .carousel-control .preview-container {
    display: block;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 320ms ease;
    -moz-transition: background-color 320ms ease;
    -ms-transition: background-color 320ms ease;
    -o-transition: background-color 320ms ease;
    transition: background-color 320ms ease;
    line-height: 0;
    position: relative; }
    .seba-format-gallery .carousel-control .preview-container .thumbnail-container {
      position: absolute;
      display: block;
      height: 58px;
      width: 58px;
      border-radius: 50%;
      top: 1px;
      -webkit-transition: transform 320ms ease;
      -moz-transition: transform 320ms ease;
      -ms-transition: transform 320ms ease;
      -o-transition: transform 320ms ease;
      transition: transform 320ms ease;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); }
  .seba-format-gallery .carousel-control.right .preview-container {
    padding-left: 80px;
    border-radius: 29px 0 0 29px; }
    .seba-format-gallery .carousel-control.right .preview-container .thumbnail-container {
      left: 1px; }
  .seba-format-gallery .carousel-control.left .preview-container {
    padding-right: 80px;
    border-radius: 0 29px 29px 0; }
    .seba-format-gallery .carousel-control.left .preview-container .thumbnail-container {
      right: 1px; }
  .seba-format-gallery .carousel-control:hover .preview-container {
    background-color: rgba(0, 0, 0, 0.8); }
    .seba-format-gallery .carousel-control:hover .preview-container .thumbnail-container {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

/* qouote format */
.seba-format-quote h1 {
  color: #333;
  font-weight: 200; }

.seba-format-quote a {
  color: #333; }

.seba-format-quote .quote-content {
  font-size: 42px;
  font-weight: 100;
  line-height: 1.3em;
  letter-spacing: 0.04em; }
  .seba-format-quote .quote-content:before, .seba-format-quote .quote-content:after {
    display: inline-block;
    position: relative;
    color: #bcad42; }
  .seba-format-quote .quote-content:before {
    content: "\201d"; }
  .seba-format-quote .quote-content:after {
    content: "\201c"; }

.seba-format-quote .quote-author {
  font-size: 15px;
  color: #1c86d4;
  letter-spacing: 2px; }

/* link post format */
.seba-format-link {
  border-bottom: 2px dashed #1c86d4;
  border-top: 2px dashed #1c86d4;
  margin: 40px 0; }
  .seba-format-link .entry-title a {
    display: block; }
  .seba-format-link .entry-title:before, .seba-format-link .entry-title:after {
    content: "~";
    display: none; }
  .seba-format-link .entry-title .link-icon {
    background: #333;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
    .seba-format-link .entry-title .link-icon .fa.fa-link {
      font-size: 30px;
      color: #fff; }

/* aside post format */
.seba-format-aside .aside-container {
  background-color: rgba(0, 0, 0, 0.075);
  padding-top: 20px; }

.seba-format-aside .aside-featured {
  width: 80%;
  height: 143px;
  display: block;
  margin: 0 auto;
  border-radius: 50%; }

.seba-format-aside .entry-excerpt {
  margin: 2px; }

.seba-single .entry-content {
  font-size: 20px;
  margin-top: 40px;
  line-height: 1.7em; }
  .seba-single .entry-content p {
    font-weight: 300;
    letter-spacing: 0.02px; }
  .seba-single .entry-content b,
  .seba-single .entry-content strong {
    font-weight: 500; }
  .seba-single .entry-content a,
  .seba-single .entry-content .seba-tooltip,
  .seba-single .entry-content .seba-popover {
    color: #f58800;
    font-weight: 700;
    cursor: pointer; }
    .seba-single .entry-content a:hover, .seba-single .entry-content a:focus,
    .seba-single .entry-content .seba-tooltip:hover,
    .seba-single .entry-content .seba-tooltip:focus,
    .seba-single .entry-content .seba-popover:hover,
    .seba-single .entry-content .seba-popover:focus {
      color: #f95800; }

.single-post {
  /* share */ }
  .single-post .post-navigation .nav-links {
    display: flex;
    justify-content: space-between; }
    .single-post .post-navigation .nav-links a {
      color: #f58800;
      margin: 0 10px; }
      .single-post .post-navigation .nav-links a:hover, .single-post .post-navigation .nav-links a:focus {
        color: #f95800; }
    .single-post .post-navigation .nav-links .nav-previous::before {
      position: relative;
      content: "<<";
      display: inline-block;
      height: 19px;
      width: 19px;
      font-weight: 700; }
    .single-post .post-navigation .nav-links .nav-next::after {
      position: relative;
      content: ">>";
      display: inline-block;
      height: 19px;
      width: 19px;
      font-weight: 700; }
  .single-post .seba-share-this {
    display: block;
    text-align: center;
    border-top: 1px solid #f1f1f1;
    padding-top: 10px;
    clear: both; }
    .single-post .seba-share-this ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .single-post .seba-share-this ul li {
        float: none;
        display: inline-block; }
    .single-post .seba-share-this a {
      display: inline-block;
      font-size: 20px;
      opacity: 0.65;
      margin: 0 5px;
      color: #000; }
      .single-post .seba-share-this a:hover, .single-post .seba-share-this a:focus {
        opacity: 1;
        color: #000; }
  .single-post .comments-area {
    border-top: 4px solid #F1F1F1; }
    .single-post .comments-area .reply {
      background: #f58800;
      display: inline-block;
      padding: 10px;
      border-radius: 5px;
      color: white; }
      .single-post .comments-area .reply a {
        color: white;
        font-weight: 500;
        text-transform: uppercase; }
    .single-post .comments-area .comment-metadata {
      padding: 15px 0;
      color: #fff;
      font-weight: 600; }
  .single-post .comment-navigation .nav-links {
    display: flex;
    justify-content: space-between; }
    .single-post .comment-navigation .nav-links a {
      color: #f58800;
      margin: 0 10px; }
      .single-post .comment-navigation .nav-links a:hover, .single-post .comment-navigation .nav-links a:focus {
        color: #f95800; }

.seba-footer {
  background: #ccc;
  color: white;
  margin-top: 40px;
  padding: 20px; }
