/*
@package placeholders
*/
/* general */
.header-container .site-title, .seba-format-image h1,
.seba-format-image .entry-meta {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4); }

/*
@package sebatheme
*/
/* general */
* {
  font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif; }

a {
  color: #1254e4; }
  a:hover, a:focus {
    text-decoration: none;
    color: #333333; }

[class^=col] {
  padding: 0; }

.background-image {
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat; }

/* Header  */
.header-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px; }
  .header-container .site-title {
    color: white;
    margin: 0; }
  .header-container .site-description {
    color: white;
    font-size: 14px;
    margin-top: 1em; }
  .header-container .fa {
    color: white;
    font-size: 51px; }

/* article */
article {
  margin-bottom: 50px; }

.navbar-seba {
  justify-content: center;
  font-size: 20px;
  color: blue;
  background-color: #000000e7; }
  .navbar-seba .navbar-nav li.current_page_item a {
    color: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 5px solid #fff;
    padding: 5px 20px; }
  .navbar-seba .navbar-nav li a {
    color: #eeebf3;
    text-decoration: none; }

h1 {
  font-size: 48px;
  font-weight: 200;
  color: #1254e4; }
  h1.entry-title {
    line-height: 1.5em;
    margin: 50px 0 5px 0;
    padding: 0; }
    h1.entry-title:before, h1.entry-title:after {
      content: "~";
      display: inline-block;
      position: relative; }
    h1.entry-title:before {
      margin-right: 10px; }
    h1.entry-title:after {
      margin-left: 10px; }

.entry-meta {
  font-size: 16px;
  color: #898989;
  font-weight: 300; }
  .entry-meta a {
    font-weight: 500;
    color: #898989; }
    .entry-meta a:hover, .entry-meta a:focus {
      color: #333333; }

.standard-featured-link {
  display: block;
  position: relative; }
  .standard-featured-link:hover .standard-featured:after, .standard-featured-link:focus .standard-featured:after {
    background-color: rgba(0, 0, 0, 0); }

.standard-featured {
  min-height: 350px;
  display: block;
  position: relative; }
  .standard-featured:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.35);
    -webkit-transition: background-color 400ms ease;
    -moz-transition: background-color 400ms ease;
    -ms-transition: background-color 400ms ease;
    -o-transition: background-color 400ms ease;
    transition: background-color 400ms ease; }

.entry-excerpt {
  padding: 20px 0; }
  .entry-excerpt p {
    font-size: 17px;
    line-height: 1.5em;
    font-weight: 300;
    letter-spacing: 1px; }

.button-container {
  padding: 20px 0; }

.btn-seba {
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  padding: 8px 12px;
  border-radius: 0;
  border: 1px solid #898989;
  background-color: transparent; }
  .btn-seba:hover, .btn-seba:focus {
    color: #fff;
    border: 1px solid #333333;
    background-color: #333333; }

.entry-footer {
  padding: 10px 5px;
  border-bottom: 4px solid #F1FFF1;
  color: #898989;
  text-transform: uppercase; }
  .entry-footer a {
    color: #898989;
    display: inline-block;
    font-size: 14px; }
    .entry-footer a:hover, .entry-footer a:focus {
      color: #333333; }
  .entry-footer .tags-list a {
    padding: 0 4px; }
  .entry-footer i {
    margin: 0px 10px; }

/* Image post format */
.seba-format-image .entry-header {
  height: 350px;
  color: #fff;
  position: relative; }

.seba-format-image h1,
.seba-format-image .entry-meta {
  color: #fff;
  font-weight: 200; }
  .seba-format-image h1 a,
  .seba-format-image .entry-meta a {
    color: #fff; }

.seba-format-image .entry-excerpt.image-caption {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0; }

/* Audtio post format */
.seba-format-audio h1 {
  font-size: 30px; }
  .seba-format-audio h1.entry-title {
    display: inline-block;
    margin-right: 40px; }
    .seba-format-audio h1.entry-title:before, .seba-format-audio h1.entry-title:after {
      content: "~";
      display: none; }

.seba-format-audio .entry-meta {
  display: inline-block;
  margin-bottom: 0; }

.seba-format-audio iframe {
  width: 100%;
  height: 166px; }
