#sebaContactForm{

  
        & #form-sent-message {
                width: 100%;
                margin-top: .25rem;
                font-size: 80%;

                &.seba-form-success{
                       color: #28a745;
                }
                  &.seba-form-error {
                      color: #dc3545;
                  }

             
        }
    

}