/*
@package sebatheme
*/

/* general */
* {
    font-family: 'Raleway', 'Helvetica Neue', 'Helvetica', Arial, Verdana, sans-serif;
}
a{
    color: $color-primary;
    &:hover,&:focus{
        text-decoration: none; 
        color: $dark-grey;
    }
}

[class^=col] { 
    padding: 0;
}

.background-image {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header  */

.header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
   
    
& .site-title {
    color: white;
    margin: 0;
     @extend %text-shadow;
}
 & .site-description { 
     color: white; 
     font-size: 14px; 
     margin-top: 1em;
 }
 & .fa {
      color: white;
      font-size: 51px; 
  }
}  


 /* article */

 article{ 
     padding-top:40px;
     padding-bottom: 40px;

 }