.sidebar-overlay{
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 3;
    display: none;
}


.seba-sidebar {   
    position: fixed;
    color: #fff;
    top:0;
    bottom: 0;
    right: 0;
    background-color: #1F1F1F;
    z-index: 9;
    height: 100vh;
    width: 100%;
    max-width: 280px;
  
    @include animate (transform, 320ms);


     &.sidebar-closed{
         @include transform( translateX(100%) );
     }

     & a{
         color: #bababa; 
         cursor: pointer;

         &:hover, 
         &:focus{
             color: #fff;
              cursor: pointer;
         }
     }
     
     & .seba-sidebar-container{
         position: relative;
         display: block;
         width: 100%;
         height: 100vh;
         padding-top: 40px;

         & .seba-sidebar-scroll{
             position: relative;
             display: block;
             width: 100%;
             height: 100%;
             overflow-x: hidden;
             overflow-y: auto;
         }
     }

     & .sidebar-close{
         position: absolute;
         top: 10px;
         left: 10px;
         color: #fff;
         cursor: pointer;

         &:hover,
         &:focus{
             color: $orange-hover !important;
         }
     }

     /* from admin */

     & .seba-widget{

     margin: 20px 0;
     padding: 0 20px;

     h2.seba-widget-title {
         display: block;
         text-align: center;
         font-size: 15px;
         font-weight: 300;
         background-color: #303030;
         padding: 8px;
         border-radius: 20px;
         line-height: 1em;
         margin-bottom: 20px;
         letter-spacing: 0.2px;
     }

    
        & h1,
        & h2 {
            color: white;
            font-weight: 100;
            font-size: 25px;
            text-align: center;
        }
        & ul{
            padding: 0;
            list-style: none;

           
        }

        &.widget_categories{
            & ul{

                & li{
                    display: flex;
                    justify-content: space-between; 
                    margin: 5px 0;
                }
            }
          
        }

        & .tagcloud{
            text-align: center;
            & a{
                display: inline-block;
                background-color: #7d7d7d;
                color: #eee;
                padding: 1px 9px;
                border-radius: 10px;
                margin: 3px;
            }
        }

        .cat-item {
            position: relative;

            a,
            span {
                display: block;
                line-height: 1em;
            }

            a {
                padding: 4px 0;
            }

            span {
                position: absolute;
                right: 0;
                top: 2px;
                font-size: 12px;
                font-weight: 600;
                padding: 2px 7px 5px;
                background-color: #7D7D7D;
                border-radius: 10px;
            }

        }

        // Comments Widget
        .recentcomments {

            font-size: 10px;
            color: #ccc;

            a {
                text-transform: uppercase;
            }

            span {

                &,
                & a {

                    display: block;
                    color: #fff;
                    font-size: 14px;
                    padding-bottom: 4px;
                    margin-bottom: 2px;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
                    text-transform: none;

                }
            }

        }

        & .popular-li{
            display:flex;
            & .popular-number {
                 display: inline-block;
                 margin-left: auto;
                 width: 30px;
                 height: 30px;
                 color: #fff;
                 text-align: center;
                 line-height: 1;
                 background: $orange;
                 padding: 4px;
                 border-radius: 50%;
                 border: 1px solid #fff
            }

        }
        
}
  

  .profile-picture {
      width: 122px;
      height: 122px;
      overflow: hidden;
      border-radius: 500px;
      margin: 20px auto;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .icons-wrapper {
      text-align:center;
      & i {
          font-size: 16px;
          color: #fff;
          position: relative;
          padding: 10px;
          
      }
     }
     
}
  
.sidebar-open{
      position: absolute;
      top: 10px;
      right: 10px;
      color: #fff !important;
      cursor: pointer;
      font-size: 25px;
 &:hover,
 &:focus {
     color: $orange-hover !important;
 }
     
}
