.seba-sidebar {   
    position: fixed;
    color: #fff;
    top:0;
    bottom: 0;
    right: 0;
    background-color: #1F1F1F;
    z-index: 9;
    height: 100vh;
    width: 100%;
    max-width: 280px;
    @include animate (transform, 320ms);

     &.sidebar-closed{
         @include transform( translateX(100%) );
     }

     
     & .seba-sidebar-container{
         position: relative;
         display: block;
         width: 100%;
         height: 100vh;
         padding-top: 40px;
     }

     & .sidebar-close{
         position: absolute;
         top: 10px;
         left: 10px;
         color: #fff;
         cursor: pointer;

         &:hover,
         &:focus{
             color: $orange-hover !important;
         }
     }

}

.sidebar-open{
      position: absolute;
      top: 10px;
      right: 10px;
      color: #fff !important;
      cursor: pointer;
      font-size: 25px;
 &:hover,
 &:focus {
     color: $orange-hover !important;
 }
     
}