.seba-single {
   
    & .entry-content {
      font-size: 20px;
      margin-top: 40px;
      line-height: 1.7em;

      & p{
           font-weight: 300;
           letter-spacing: 0.02px;
      }

      & b,
      & strong{
          font-weight: 500;
      }

      & a,
      & .seba-tooltip,
      & .seba-popover{
        color: #f58800;
          font-weight: 700;
          cursor: pointer;

          &:hover, 
          &:focus{
               color: #f95800;
          }
      }


    }
}
.single-post{

    & .post-navigation .nav-links{
        display:flex;
        justify-content:space-between; 

        & a{
            color: #f58800;
              &:hover, 
          &:focus{
               color: #f95800;
          }
        }
        & .nav-previous{
            &::before{
                position: relative;
                content "asd";
                display:block;
                height:20px;
                width:20px;
            }
        }
         & .nav-next a{
             
           
        }
    }
}
