.seba-single {
   
    & .entry-content {
      font-size: 20px;
      margin-top: 40px;
      line-height: 1.7em;

      & p{
           font-weight: 300;
           letter-spacing: 0.02px;
      }

      & b,
      & strong{
          font-weight: 500;
      }

      & a,
      & .seba-tooltip,
      & .seba-popover{
        color: #f58800;
          font-weight: 700;
          cursor: pointer;

          &:hover, 
          &:focus{
               color: #f95800;
          }
      }


    }
}
.single-post{

    & .post-navigation .nav-links{
        display:flex;
        justify-content:space-between; 

        & a{
            color: #f58800;
            margin: 0 10px;
              &:hover, 
          &:focus{
               color: #f95800;
          }
        }
        & .nav-previous{
            &::before{
                position: relative;
                content: "<<";
                display:inline-block;
                height:19px;
                width:19px;
                font-weight: 700;
            }
        }
         & .nav-next {
               &::after {
                   position: relative;
                   content: ">>";
                   display: inline-block;
                   height: 19px;
                   width: 19px;
                   font-weight: 700;
               }
           
        }
    }
    /* share */
    .seba-share-this{
        display: block;
        text-align: center;
        border-top: 1px solid #f1f1f1;
        padding-top: 10px;
        clear: both;
            & ul{
                margin: 0;
                padding: 0;
                list-style: none;
                & li{
                    float:none;
                    display: inline-block;
                }
            }
        & a{
            display: inline-block;
            font-size: 20px;
            opacity: 0.65;
            margin: 0 5px;
            color: #000;

            &:hover,
            &:focus{
                opacity: 1;
                  color: #000;
            }
        }


    }


    & .comments-area{
        border-top: 4px solid #F1F1F1;

        & .reply{
                background: #f58800;
                display: inline-block;
                padding: 10px;
                border-radius: 5px;
                color: white;

                & a{
                    color:white;
                    font-weight: 500;
                    text-transform: uppercase;
                }
        }
        & .comment-metadata {
            padding: 15px 0;
            color: #fff;
            font-weight: 600;
        }
    }

      & .comment-navigation .nav-links {
          display: flex;
          justify-content: space-between;

          & a {
              color: #f58800;
              margin: 0 10px;

              &:hover,
              &:focus {
                  color: #f95800;
              }
          }
        }
}


