h1 {
    font-size: 48px;
    font-weight: 200;
    color: $color-primary;

    & a {
        $color: $color-primary;
    }

    &.entry-title {
        line-height: 1.5em;
        margin: 10px 0 5px 0;
        padding: 0;

        &:before,
        &:after {
            content: "~";
            display: inline-block;
            position: relative;
        }

        &:before {
            margin-right: 10px;
        }

        &:after {
            margin-left: 10px;
        }
    }
}

.entry-meta {

    font-size: 16px;
    color: $light-grey;
    font-weight: 300;

    & a {
        font-weight: 500;
        color: $light-grey;

        &:hover,
        &:focus {
            color: $dark-grey;
        }
    }
}

.standard-featured-link {
    display: block;
    position: relative;

    &:hover,
    &:focus {
        .standard-featured {
            &:after {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }

}

.standard-featured {
    min-height: 350px;
    //display: block;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.15);
        box-shadow: inset 0 0 15px rgba($color: #000000, $alpha: 0.35);
        @include animate(background-color, 400ms);
    }

}

.entry-excerpt {
    padding: 20px 0;

    & p {
        font-size: 17px;
        line-height: 1.5em;
        font-weight: 300;
        letter-spacing: 1px;
    }
}

.button-container {
    padding: 20px 0;
}

.btn-seba {
    @include animate(all, 400ms);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: $light-grey;
    padding: 8px 12px;
    border-radius: 0;
    border: 1px solid $light-grey;
    background-color: transparent;

    &:hover,
    &:focus {
        color: #fff;
        border: 1px solid $dark-grey;
        background-color: $dark-grey;
    }
}

.entry-footer {
    padding: 10px 5px;
    border-bottom: 4px solid $lighter-grey;
    color: $light-grey;
    text-transform: uppercase;

    & a {
        color: $light-grey;
        display: inline-block;
        font-size: 14px;

        &:hover,
        &:focus {
            color: $dark-grey;
        }
    }

    & .tags-list {
        & a {
            padding: 0 4px;

        }
    }

    & i {
        margin: 0px 10px;
    }
}

/* Image post format */
.seba-format-image {


    & .entry-header {
        height: 350px;
        color: #fff;
        position: relative;

    }

    & h1,
    & .entry-meta {
        color: #fff;
        font-weight: 200;
        @extend %text-shadow;

        & a {
            color: #fff;
        }
    }

    & .entry-excerpt {
        &.image-caption {
            //  @extend %background-gradient;
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0;
        }
    }
}

/* Audtio post format */

.seba-format-audio {

    h1 {
        font-size: 30px;

        &.entry-title {
            display: inline-block;
            margin-right: 40px;

            &:before,
            &:after {
                content: "~";
                display: none;
            }


        }
    }

    & .entry-meta {
        display: inline-block;
        margin-bottom: 0;
    }

    & iframe {
        width: 100%;
        height: 166px;
    }
}

/* Video post format */

.seba-format-video {
    & header {


        &.entry-title {}
    }
}

/* gallery */

.seba-format-gallery {
    & header {
        h1 {
            &.entry-title {
                margin-top: 20px;
            }
        }
    }
     &:hover {
         & .entry-excerpt {
             &.image-caption {

                 @include transform(translateY(0%));
             }
         }
     }
       & .entry-excerpt {
           &.image-caption {
               @extend %background-gradient;
               position: absolute;
               color: #fff;
               padding: 30px;
               bottom: 0;
               display: block;
               width: 100%;
               text-align: center;
               @include animate(transform,320ms);
               @include transform(translateY(100%));
           }
       }

  
    & .standard-featured {
        height: 500px;

        &:after {
            background-color: transparent;
        }
    }

    & .carousel-control {
        background: none;
        background-image: none;
        opacity: 1;
        filter: alpha(opacity=100);
        font-size: 30px;
        width: auto;
        @extend %text-shadow;

        & .preview-container {
            display: block;
            padding: 20px;
            background-color: rgba($color: #000000, $alpha: 0.0);
            @include animate(background-color, 320ms);
            line-height: 0;
            position: relative;

            & .thumbnail-container {
                position: absolute;
                display: block;
                height: 58px; 
                width: 58px;
                border-radius: 50%;
            
                top:1px;
                @include animate(transform, 320ms);
                @include transform(scale(0));
            }
        }

        &.right {

            & .preview-container {
                padding-left: 80px;
                border-radius: 29px 0 0 29px;
                   & .thumbnail-container {
                    left: 1px;
                   }
            }
        }

        &.left {
            & .preview-container {
                padding-right: 80px;
                border-radius: 0 29px 29px 0;

                  & .thumbnail-container {
                    right: 1px;
                  }
            }

        }
         &:hover {
             & .preview-container{
                 background-color: rgba($color: #000000, $alpha: 0.8);

                 & .thumbnail-container {
                     @include transform(scale(1));
                 }
                }
         }
         
    }
}
/* qouote format */ 

.seba-format-quote{

    & h1{
        color: #333;
        font-weight: 200;
    }

    & a{
        color: #333;
    }
    & .quote-content{
        font-size: 42px;
        font-weight: 100;
        line-height: 1.3em;
        letter-spacing: 0.04em;

        &:before,
        &:after{
        display: inline-block;
        position: relative;
        color: #bcad42;
        }
        &:before{
            content:"\201d";
    
        }
            &:after {
                content: "\201c";
             
            }
    }

    & .quote-author {
        font-size: 15px;
        color: #1c86d4;
        letter-spacing:2px;
    }
}

/* link post format */ 

.seba-format-link{

        border-bottom: 2px dashed #1c86d4;
        border-top: 2px dashed #1c86d4;
        margin: 40px 0;
        & .entry-title{

            & a{
                display: block;
            }
            &:before,
            &:after {
                content: "~";
                display: none;
            }

            & .link-icon{
                background: #333;
                display: flex;
                width: 50px;
                height: 50px;
                border-radius: 50px;
                justify-content: center;
                align-items: center;
                margin: 0 auto;

                & .fa.fa-link{
                        font-size: 30px;
                        color: #fff;
                }

            }
        }
    }

/* aside post format */

.seba-format-aside{
    & .aside-container{
        background-color: rgba(0, 0, 0, 0.075);
        padding-top: 20px;
    }
  
    & .aside-featured{
    width: 80%;
    height: 143px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    }

    & .entry-excerpt{
        margin: 2px;
    }

}
    
